/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

/* Homework styles */

body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f2f2f2;
}

.form {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 20px;
}

input[type='text'] {
  border-radius: 4px;
  width: 272px;
  height: 24px;
  padding: 8px 16px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 91px;
  height: 40px;
  background: #4e75ff;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #6c8cff;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  margin-top: 20px;
  padding: 0;
  list-style: none;
}

.gallery-item {
  width: 360px;
  height: 200px;
  position: relative;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 14px;
}

.info div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.info div p {
  margin: 2px 0;
  text-align: center;
}

.info b {
  font-weight: bold;
}

.load-more-btn {
  display: block;
  margin: 20px auto;
  padding: 8px 16px;
  width: 125px;
  height: 40px;
  background-color: #4e75ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.load-more-btn:hover {
  background: #6c8cff;
}

.load-more-btn.is-hidden {
  display: none;
}

.is-hidden {
  display: none;
}

@media (max-width: 768px) {
  .gallery-item {
    width: 300px;
    height: 180px;
  }
}

@media (max-width: 480px) {
  .gallery-item {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
  }
}
